body{
    background-color: #E8F2F6;
}

.title{
    text-align: center;
    padding:20px;
    font-size: large;
    background-color: #DEDEDE;
}

.content{
    margin-top: 10px;
}

.skills-title{
    border: 1px solid transparent;
    border-color: black transparent;
    margin-bottom: 10px;
}

.leadership-title{
    border: 1px solid transparent;
    border-color: black transparent;
    margin: 10px 0;
}

.leadership-content{
    display:flex;
    justify-content: stretch;
}

.leadership-list{
    width: 35vw;
}

.leadership-img{
    margin-left:250px;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
}

.leadership-img img{
    height: 25vh;
    width:auto;
    border: 1px solid black;
    border-right-color: transparent;
    margin: 10px;
}

.leadership-img .img2{
    margin-top: 5px;
}

.leadership-img .img3{
    margin-top: 5px;
}

.experience-title{
    border: 1px solid transparent;
    border-color: black transparent;
    margin: 10px 0;
}

.experience-list{
    padding-bottom: 10px;
}

.skills-title, .leadership-title, .experience-title{
    padding: 20px;
    font-size: 25px;
}

.skills-list, .leadership-list, .experience-list li{
    list-style-type: disc;
}

.skills-list, .leadership-list, .experience-list{
    padding-left: 40px;
    font-size: 18px;
}

#resume{
    padding: 20px;
    border:1px solid transparent;
    border-style: groove;
    text-align: center;
    border-top-color: black;
    border-bottom-color: black;
    background: linear-gradient(#8CDDF2, #B2E1EC, #D2E2E6);
}