*{
    margin: 0px;
    padding: 0px;

}

a{
    cursor: pointer;
    text-decoration: none;
    color:black;
}

header{
    background-color: #A3F2FF;
    height: 75px;
    font-family: 'Kreon', serif;
}

body{
    font-family: 'Tajawal', sans-serif;
}

.name h1{
    font-family: 'Dancing Script', cursive;
    margin-top: 16px;
    margin-left: 15px;
    float:left;
}

.nav{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-left: 500px;
}

.nav li{
    display: inline-block;
    margin-right: 10px;
}

.nav li a{
    text-decoration: none;
    color: #000000;
    padding: 5px 20px;
    transition: 0.5s ease;
}

.nav li a:hover{
    color: #969798;
}

.nav li.active a{
    color: #969798;
}

footer a i{
    margin: 20px;
}

footer .socials{
    display: flex;
    justify-content: center;
}

footer .socials a i{
    color: purple;
}

footer .socials{
    background-color: #DEDEDE;
}

footer .copyright{
    text-align: center;
    background-color: #849BA5;
}

